<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Melhores <%= title %> da semana</p>
    <ol type="a">
      <li>Borracha</li>
      <li>Corretivo</li>
      <li>Marca Texto</li>
      <li>Apontador</li>
      <li>Lápis</li>
      <li>Caderno</li>
    </ol>

  </body>
</html>
