<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li>A Droga da Obediência</li>
      <li>Crônicas de Gelo e fogo</li>
      <li>WiliWonka e a fantástica fábrica de chocolate</li>
    </ul>
  </body>
</html>
